html {
    box-sizing: border-box;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 100%;
    background: rgb(94, 196, 181);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(94, 196, 181, 1) 13%, rgba(191, 53, 140, 1) 100%, rgba(168, 0, 119, 1) 100%, rgba(219, 54, 164, 1) 100%, rgba(168, 0, 119, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(94, 196, 181, 1) 13%, rgba(191, 53, 140, 1) 100%, rgba(168, 0, 119, 1) 100%, rgba(219, 54, 164, 1) 100%, rgba(168, 0, 119, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(94, 196, 181, 1) 13%, rgba(191, 53, 140, 1) 100%, rgba(168, 0, 119, 1) 100%, rgba(219, 54, 164, 1) 100%, rgba(168, 0, 119, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#5ec4b5', endColorstr='#a80077', GradientType=0);
    /* IE6-9 */
    background-attachment: fixed;
}

header {
    text-align: center;
    padding: 40px 0;
}

img {
    max-width: 100%;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
}

.hero {
    margin-bottom: 40px;
}

h2 {
    text-align: center;
    text-transform: uppercase;
}

.lista-productos {
    padding: 0;
    list-style: none;
}

.lista-productos li {
    float: left;
    width: 50%;
    padding: 20px;
    text-align: center;
}


/** 2(0) + 1 **/

.lista-productos li:nth-child(2n+1) {
    clear: both;
}

@media (min-width: 768px) {
    .lista-productos li {
        width: 33.3%;
    }
    .lista-productos li:nth-child(2n+1) {
        clear: unset;
    }
    .lista-productos li:nth-child(3n+1) {
        clear: both;
    }
}

.lista-productos li img {
    border: 10px solid rgba(204, 132, 243, 0.45);
    transition: border-color .3s ease-in-out;
}

.lista-productos li img:hover {
    border: 10px solid rgba(204, 132, 243, 1.5);
}

.lista-productos li p {
    font-size: 28px;
    font-weight: bold;
    margin: 10px 0 0 0;
}

span.precio {
    color: #FFCE00;
    font-size: 40px;
}

.boton {
    background-color: #FFCE00;
    text-decoration: none;
    padding: 10px 40px;
    margin-top: 10px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    color: #a630e6;
    transition: background-color .3s ease-in-out;
}

.boton:hover {
    background-color: #ebbc00;
}